# Database URLs for Neon
DATABASE_URL=
NEON_DB_URL=

# Google Sheets — Roster
GOOGLE_CLIENT_EMAIL=n8n-drive@neat-pagoda-439314-b7.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_ID=122mX8Jh0w5HP7JwW21mKHTDN2h0YhQuQYHhumHAcm4s

# AI
GEMINI_API_KEY=
